@font-face {
    font-family: 'MyFont';
    src: url('./OpenSans-BoldItalic.ttf');
    font-weight: 600;
    font-style: normal;
 }


.hello {
    /* color: red; */
    font-family:'MyFont'
    /* background: url('./logo.jpg'); */
}